.pinkLine {
  width: 100%;
  height: 50px;
  background-color: #e6b9a6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.addMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: #e6b9a6;
  border: none;
  border-radius: 7px;
  height: 34px;
  width: 123px;
  margin-bottom: 20px;
}

h2 {
  margin-left: 75px;
}

input {
  margin: 10px 0 0 0;
  height: 30px;
  width: 150px;
  border: 1px solid grey;
}

label {
  margin: 0;
  padding: 0;
}

.labelDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
